body {
    width: 100%;
    max-width: 800px;
    font-family: 'Roboto Slab', serif;
}

#name {
    font-size: 140%;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
}

h1 {
    font-size: 120%;
}

li {
    margin: 10px;
}
