body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

h2 {
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 5px #a0a0a0;;
}

p {
    font-size: 17pt;
}

li {
    font-size: 17pt;
}

.sub-material li { font-size: 15pt; }

a.icon-link { color: #5b5b5b; }
